
{% assign targetCat = page.categories[0] %}
<!-- <h2>{{targetCat}}</h2> -->
{% assign count = 0 %}

<section class="md:flex">
  <div class="p-10 justify-start flex items-center border border-black relative">
    <div class=" md:-rotate-90 md:text-5xl text-4xl w-[20rem] md:mb-[-20rem]">
    <h2 class="md:w-[100rem] w-full">{{ page.banner_html}}</h2>
    </div>
  
  </div>
    <!-- {% assign pageCategory = page.categories %} -->
    {% for post in site.categories[targetCat] where_exp: 'post', 'post.url' != 'page.url' %}

  {% if count < 2 %}
  <!-- filter category by tag  -->
  {% if post.tags contains 'featured' %}
  
  {% if seenPost contains post.url %}
      <!-- skip it -->
    {% else %}
    
    <a href="{{post.url}}" class="p-5 min-h-screen border grow border-black flex bg-center bg-cover justify-end items-end" style="background-image:url('{{ post.featured_image }}')">

    <h3 class="text-white uppercase mb-2 text-2xl">{{ post.title }}</h3>
    </a>
  
  
    {% assign seenPost = seenPost | append: post.url %}
    {% assign count = count | plus:1 %}
{% endif %}
{% endif %}
{% endif %}

{% endfor %}

  </section>
