<div class="bg-black fixed top-[50%] left-0 border z-10 border-black border-radius rounded-lg">

  <nav>
  <a class="block" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&related={{ site.data.socials.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
      <i class="text-white fab fa-twitter p-2"></i>
  </a>
  <a class="block " href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
      <i class="text-white fab fa-facebook-f p-2"></i>
  </a>
  <a class="block " href="http://pinterest.com/pin/create/link/?url={{page.url}}&description={{page.title}}" rel="nofollow" target="_blank" title="Share on Pinterest">
    <i class="text-white fab fa-pinterest-p p-2"></i>
  </a>

  <a class="block" href="https://www.linkedin.com/shareArticle?mini=true&url={{page.url}}" rel="nofollow" target="_blank" title="Share on Linkedin">
    <i class="fab fa-linkedin text-white p-2"></i>
  </a>
</nav>
</div>


